* {
	margin:0;
	padding:0;
}
body {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size:16px;	
	margin: 0;
	padding: 0;
	color: #4e4e4e;
	background: url(../images/siteBackground.png) repeat;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}

ul.linklist {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
	color: #3387d6;
}
p, strong, .socialIcons {
	margin-top: 10px;	
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom:10px;
}
a img {
	border: none;
}
a {
	color: #3387d6;
	text-decoration: underline; 
}
a:hover, a:active, a:focus { 
	color:#3387d6;
	text-decoration: none;
}

.headerTop {
	//height:100px;
	margin-top:15px;
	width: 100%;
}
header h1 {
	float:left;
	color:#1d1d1d;
	font-size:30px;
}
.headerTop img {
	float: left;	
}
.headerPic img {
	float:left;
}
.contentPic {
	text-align:center;
}
.detailsLink {
	float:right;
	padding-right: 15px;
}
.sidebarTextBlock {
	padding-bottom:30px;
}
footer{
	padding: 10px 0;
	position: relative;
	clear: both;
	border-top:1px solid #a4a4a4;
	text-align:center;
}
.container {
	width: 960px;
	margin: 0 auto; 
}

.content {
	padding: 10px;
	width: 739px;
	float: left;
	border-right:1px solid #a4a4a4;
}
.sidebar {
	float: left;
	width: 199px;
	padding: 10px 0;
}

.sidebar ul {
	list-style-type: none;
	padding-left: 20px;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* ----- MAIN MENU ----- */
#navlist {
	width: 100%;
	background-color: red;
	padding-left: 14px;

}
#navlist ul {
	list-style: none;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
}

#navlist ul a{
	display: block;
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 32px;
	padding: 0 15px;	
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#navlist ul li{
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;	
	background: #346091;
}

#navlist ul li:hover {
	background: #9CC6F6;
}

#navlist ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: white;
	padding: 0;
	margin-top: 0px;
}

#navlist ul ul li {
	float: none;
	width: 200px;
}

#navlist ul ul a {
	line-height:120%;
	padding:10px 15px;
	border-left: 0px solid white;
	border-right: 0px solid white;
	border-top: 1px solid white;
}

#navlist ul ul ul {
	top:0;
	left:100%
}

#navlist ul li:hover > ul
{
	display:block;
	background: #9CC6F6;
}

/* ----- MEDIA QUERIES ----- */
/* for 980px or less */
@media screen and (max-width: 960px) {
	.container {
		width: 95%;
	}
	.content {
		width: 65%;
	}
	.sidebar1 {
		width: 15%;
	}
	.sidebar2 {
		width: 15%;
	}
}
/* for 768px or less */
@media screen and (max-width: 768px) {
	.header {
		height:120px;
	}
	.content {
		width: auto;
		float: none;
	}
	.sidebar1 {
		width: auto;
		float: none;
		border-bottom:1px solid #dcdcdc;
		border-right:none;
		padding-top:15px;
	}
	.sidebar2 {
		width: auto;
		float: none;
		border-top:1px solid #dcdcdc;
		border-left:none;
		padding-top:15px;
	}
}
/* for 480px or less */
@media screen and (max-width: 480px) {
	.headerTop {
		margin-top:0px;
	}
	.headerTop h1 {
		font-size: 14px;
		padding:20px 0 0 15px;
	}
	h2 {
		font-size:14px;
	}
	.sidebar1 {
		display:none;
	}
	.header .socialIcons {
		float:right;
		padding:3px;
	}
	nav ul {
		font-size:14px;
	}
	nav ul li a {
		padding: 10px 14px;
	}
	.footer {
		font-size:10px;
	}
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}